html, body {
    margin: 0;
    padding: 0;
    background-color: #fff8f8;
}

html, body {
    display:inline-block;
    overflow-x: hidden
    }

header {
    background-color: #bdaf7b;
    color: rgb(255, 255, 255);
    height: 60px;
    width: 100%;
    position: fixed;
    z-index: 10;
    font-family: fantasy;
    font-size: 17;
   font-style: italic;
   
   
}

#logo {
    width: 80px;
    height: 60px;
    position: absolute;
    top: 0px;
    margin-left: 5%;
    cursor: pointer;
}

#menu {
    float: right;
    margin-right: 5%;
    list-style-type: none;
    margin-top: 0px;
    cursor: pointer;
}

#i1{
    text-decoration: none
}

#i2{
    text-decoration: none
}

#i3{
    text-decoration: none
}
#i4{
    text-decoration: none
}

 li {
    float: left;
    padding: 20 10 20 10;
}
 li:hover {
    background-color: #ffe063;
}

#background {
    background: url(BANNER.png);
    height: 100%;
    width: 100%;
    text-align: center;
    background-size: cover;
}

#tituloprincipal{
    color: black;
}

#titulo {
    color: #7a3e64 ;
    padding-top: 5.5%;
    font-size: 70px ;
    line-height: 1;
    text-shadow: rgb(190, 186, 166);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#subtitulo {
    color: rgb(0, 0, 0);
    padding-top: 0%;
    padding-left: 21%;
    padding-right: 20%;
    font-size: 25px;
     text-align: center; 
     width: 59%;
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


#acao {
    color: #7a3e64 ;
    border: 3px #7a3e64  solid;
    padding: 10px 20px 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    text-decoration: initial;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    padding-top: 8.5%;
}


#selecao {
    background-color:#494949; 
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#caixa {
    width: 60%;
    height: 50%;
    border: 3px solid #494949;
    text-align: center;
    line-height: 89.5px;
    text-transform: uppercase;
    font-size: 60px;
    letter-spacing: 60px;
    text-decoration: none;
    align-self: hover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.icone {
    width: 400px;
    }

 section {
     padding: 20px;
     float: left;
 }   


.destaque { 
    background-color: #f2d355;
    width: 100%;
}

.destaque2 { 
    background-color: #f0df9c;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.destaque3 { 
    background-color: #7a3e64    ;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.imgeco {
    width: 85%;
    height: 30%;
    cursor: pointer;
    border-radius: 10px;
}


.coluna {   
    float: left;
    padding: 0 5%;
    position: relative;
}

.dois {
   width: 40%;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.quatro {
    width: 15%;
   
}

.tres {
    width: 20%;
    padding:0 2%;
   

}

.justificado {
    text-align: justify;
    font-size: 16pt;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.centralizado {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
    
}
.centralizado2 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16pt;

}

.imgslide {
    display: inline;
    width: 85%;
    height: 60%;
    left: 30%;
    margin: 0;
    padding: 0;
}

.branco {
    background-color: white;
}

#titulodificil{
    color: white;
}

#rodape12{
    background-color: #ffffff;
}
